@import "./var";

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.login-screen {
    width: 50vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    border: 1px solid $login-gray;
}

.login-options {
    height: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

// Social media buttons
.social-media-login {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    a {
        width: 80%;
        height: 20%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: $login-white;
        text-decoration: none;
    }

    #facebook {
        background-color: $facebook-blue;
    }

    #google {
        background-color: $google-red;
    }

    #twitter {
        background-color: $twitter-blue;
    }
}

// Devider
.devider {
    width: 1px;
    height: 70%;
    border-right: 1px solid $login-gray;
    display: flex;
    justify-content: space-around;
    align-items: center;

    #or {
        width: 40px;
        height: 30px;
        border: 1px solid $login-gray;
        border-radius: 100%;
        color: $login-gray;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}

// Sign in form
form {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .email-password {
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        input {
            width: 80%;
            height: 25%;
            border: none;
            border-bottom: 1px solid $login-gray;
        }
    }

    .remember-login {
        width: 80%;
        display: flex;

        #remember {
            width: 50%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
        #login {
            width: 50%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }


    }

    button {
        width: 100px;
        height: 40px;
        border: none;
        border-radius: 5px;
        background-color: $login-blue;
        color: $login-white;
        font-size: large;
    }
}

// Footer
.register-forgotton {
    height: 10%;
    border-top: 1px solid $login-gray;
    background-color: $background-blue;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        color: $login-blue;
        text-decoration: none;
    }

    #register {
        width: 45%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-right: 5px;
    }

    #forgotton {
        width: 45%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-left: 5px;
    }
}